body {
    background-image: url('https://tse3.mm.bing.net/th?id=OIP.1yVk4qxa-Xs9XYbOm5trJAHaEK&pid=Api&P=0&h=220');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    color: black;
}

form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0;
    color: #333;
}

.styled-link {
    color: #4CAF50; /* Green color */
    text-decoration: none; /* Remove underline */
    font-weight: bold;
    margin-top: 10px; /* Adjust as needed */
    display: inline-block; /* Ensure the link behaves as a block element */
}

.styled-link:hover {
    color: #45a049; /* Darker green on hover */
}

input,
select,
button {
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
